.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/node_modules/**
# Keep images folder - these are needed for README and marketplace
# images/**  # DON'T exclude this
*.vsix